<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="GroceryStoreSimulator.Properties.Settings.SimGroceryConnectionString" connectionString="Data Source=il-server-001.uccc.uc.edu\mssqlserver2012;User ID=GroceryStoreSimulatorLogin" providerName="System.Data.SqlClient" />
    <add name="GroceryStoreSimulator.Properties.Settings.GroceryStoreSimulatorConnectionString" connectionString="Data Source=il-server-001.uccc.uc.edu\mssqlserver2012;Initial Catalog=GroceryStoreSimulator;User ID=nicomp;Password=Danger42;Encrypt=False;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CouponServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://il-server-001.uccc.uc.edu/CouponWebService/CouponService.asmx" binding="basicHttpBinding" bindingConfiguration="CouponServiceSoap" contract="CouponServiceReference.CouponServiceSoap" name="CouponServiceSoap" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>